{% extends 'base.html.twig' %}

{% block title %}Edit Animal{% endblock %}

{% block body %}
    <h1>Edit Animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
